@import 'menu-nav.css';
@import 'animation-typewriter.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: black;
}

.container {
    width: min(900px, 90%);
    margin: auto;
    color: white;
}

#inicio {
    margin-bottom: 50px;
}


.img-profile {
    width: 250px;
    margin: auto;
}

.img-profile img {
    width: 100%;
    border-radius: 50px 0 50px 0;
    border: 5px solid #000fff;
}


#sobre {
    text-align: justify;
    text-indent: 1rem;
    top: 110px;
}
#sobre h3 {
    margin: 20px 0;
    text-align: center;
}

.linguagens {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

}


@media(max-width: 600px) {
    .linguagens {
        flex-direction: column;
    
    }
}