@import 'menu-nav.css';
@import 'animation-typewriter.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    animation: fundoAnimado 8s infinite;
}

.ajuste {
    height: 70px;
}

@keyframes fundoAnimado{
    0% {
        background: black;
    }
    50% {
        
        background: rgb(9, 0, 58);
    }
    100% {
        background: black;

    }
}

.container {
    width: min(900px, 90%);
    margin: auto;
    color: white;
}

#inicio {
    margin-bottom: 50px;
}


.img-profile {
    width: 250px;
    margin: auto;
}

.img-profile img {
    width: 100%;
    border-radius: 50px 0 50px 0;
    border: 5px solid #000fff;
}


#sobre {
    text-align: justify;
    text-indent: 1rem;
    top: 110px;
}
#sobre h3 {
    margin: 20px 0;
    text-align: center;
}

.linguagens {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

}

#portifolio {
    text-align: center;
}

#portifolio h3{
    margin: 30px;
}

#portifolio img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.div-box {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box {
    width: 260px;
    height: 300px;
    background: white;
    border-radius: 20px;
    color: black;
}


footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkblue;
    color: white;
}




@media(max-width: 600px) {
    .linguagens {
        flex-direction: column;
    
    }

    .div-box {
        flex-direction: column;
    }
}