h1 {
    width: min(480px, 90%);
    text-align: center;
    margin: auto;
    margin-top: 130px;
    margin-bottom: 50px;

    color: #fff;
  }


@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}